export(logistic_model_check)
export(multinomial_model_check)
export(negbinomial_model_check)
export(normal_model_check)
export(ordinal_model_check)
export(poisson_model_check)
import(dplyr)
import(tidyr)
import(magrittr)
import(gamlss)
import(brms)
import(tidybayes)
import(jsonlite)
importFrom("stats", "as.formula", "df", "df.residual", "plogis", "predict", "qlogis", "rbinom", "residuals", "rlnorm", "rnorm", "rpois", "sigma")
importFrom("utils", "head")