export(add_model)
import(ellipsis)
import(dplyr)
import(tidyr)
import(purrr)
import(magrittr)
import(gamlss)
import(gamlss.dist)
import(brms)
import(tidybayes)
import(jsonlite)
importFrom("stats", "as.formula", "df", "df.residual", "plogis", "predict", "qlogis", "rbinom", "residuals", "rlnorm", "rnorm", "rpois", "sigma")
importFrom("utils", "head")