export(logistic_model_check)
export(logitnormal_model_check)
export(lognormal_model_check)
export(multinomial_model_check)
export(negbinomial_model_check)
export(normal_model_check)
export(ordinal_model_check)
export(poisson_model_check)